<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
    <title>Awesome addressbook</title>
  </head>
  <body>
    <div id="app-container"></div>
  </body>
</html>
